@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.highlight {
  position: absolute;
  width: 60%;
  height: 80%;
  background: radial-gradient(
    ellipse at center,
    theme("colors.secondary") 0%,
    rgba(0, 0, 0, 0) 70%
  );
  opacity: 30%;
}
